.panel.panel-default
  .panel-heading
    = icon("search")
    %b Escolha por Unidade
    %a.pull-right(data-toggle="collapse" data-target="#map")
      = icon("chevron-down")
  .panel-body#map.collapse.in(style="padding: 0px;")
    %center
      
      = stylesheet_link_tag 'mapa', media: 'all', 'data-turbolinks-track' => true
      = render "shared/mapa.html"
      
      :javascript
        $("#municipio path").click(function(){
        
          name = $(this).attr("data-name")
          switch( name.toLowerCase() ) {
            case "mapa":
              window.location.replace("/unidades");
              break;
            case "januaria":
              window.location.replace("/unidades/januaria");
              break;
            default:
              //alert('Voce clicou em ' + name );
              window.location.replace("/unidades/" + name);
              
          }
            
        });