.panel.panel-default
  .panel-heading
    %b Escolha por Unidade
  .panel-body(style="padding: 0px;")
    %center
      
      = stylesheet_link_tag 'mapa', media: 'all', 'data-turbolinks-track' => true
      = render "shared/mapa.html"
      
      :javascript
        $("#municipio path").click(function(){
        
          name = $(this).attr("data-name")
          switch( name.toLowerCase() ) {
            case "mapa":
              window.location.replace("/unidades");
              break;
            case "januaria":
              window.location.replace("/unidades/januaria");
              break;
            default:
              //alert('Voce clicou em ' + name );
              window.location.replace("/unidades/" + name);
              
          }
            
        });