%footer.footer-distributed
  .content
    .row
      .col-md-4
        %ul
          %h2 Quem Somos
          %li 
            %a{:href => root_path } Home
          %li 
            %a{:href => root_url+"pages/sobre"} Sobre o meuIFNMG.com
          %li
            %a{:href => root_url+"pages/termos"} Termo de uso
      .col-md-4
        %ul
          %h2 Serviços
          %li 
            %a{:href => "#"} Diarias
          %li
            %a{:href => "#"} Diarias por Unidade
              
      .col-md-4
        %ul
          %h2 Ajuda
          %li 
            %a{:href => "<%= root_url%>pages/como-funciona"} Como Funciona
          %li
            %a{:href => "#modalContacts", :data => {:toggle => "modal", :target => "#modalContacts"} } Contato
    %br
    %hr
    %p.text-center © 2016 Portal Meu IFNMG.com -  Todos os direitos reservados.
