%footer.footer-distributed
  .content
    .row
      .col-md-4.col-sm-4
        %ul
          %p Quem Somos
          %li 
            %a{:href => root_path } Home
          %li 
            %a{:href => root_url+"sobre"} Sobre o meuIFNMG.com
          -#%li
          -#  %a{:href => root_url+"termos"} Termo de uso
      .col-md-4.col-sm-4
        %ul
          %p Informações
          %li 
            %a{:href => "#"} Unidades
          %li
            %a{:href => root_url + "servidores"} Servidores
          %li 
            %a{:href => root_url + "diarias"} Diarias
          %li
            %a{:href => "#"} Ranking
          %li
            %a{:href => root_url + "contratos"} Contratos  
              
      .col-md-4.col-sm-4
        %ul
          %p Ajuda
          %li
            %a{:href => "#modalContacts", :data => {:toggle => "modal", :target => "#modalContacts"} } Contato
      
      .col-md-12.col-sm-12
        %hr
        %p.text-center © 2016 Portal Meu IFNMG.com -  Todos os direitos reservados.
