/ Main jumbotron for a primary marketing message or call to action 

.container-fluid
  .owl-carousel.owl-wrapper-outer#banners
    %div{ :style => "display:block; background-image: url('images/banner1.png');background-position:relative; background-repeat:no-repeat; relative"}
      %div{ :style => "background-color: rgba(255, 255, 255, 0.6)" }
        %h1 Titulo
        %p Descricao
      %p 
        Texto texto
        %a.btn.btn-primary.btn-lg{ :href => "", :role => "button"}
          Link
      %p 
        Texto texto
        %a.btn.btn-primary.btn-lg{ :href => "", :role => "button"}
          Link

    .jumbotron{ :style => "display:block; background-image: url('images/banner1.png');background-position:relative; background-repeat:no-repeat; relative"}
      %div{ :style => "background-color: rgba(255, 255, 255, 0.6)" }
        %h1 Titulo
        %p Descricao
      %p 
        Texto texto
        %a.btn.btn-primary.btn-lg{ :href => "", :role => "button"}
          Link
      %p 
        Texto texto
        %a.btn.btn-primary.btn-lg{ :href => "", :role => "button"}
          Link
        