
-# Uma unica view para todoas as Unidades

.container
  .row
    .col-md-12
      .panel
        .panel-body
          %h2
            = unidade.gsub("-", " ").titleize
      
  .row
    -# .col-md-3.col-sm-3
      -# Destaque
    -# .col-md-3
      -# .note-info
        -# %p
          -# = "notas sobre #{unidade} "
  .row
    .col-md-2
      .panel
        -#.panel-heading
          -#informações
        .panel-body
          %p
            Servidores
            %span.label.label-success.pull-right
              = @servidores.count
          %p
            Diarias
            %span.label.label-success.pull-right
              = @diarias.count
            