:ruby
  # require 'transparencia.gov.br.rb'
  # # require 'contratos.gov.rb' 
  # l = "http://www3.transparencia.gov.br/TransparenciaPublica/jsp/contratos/"
  # #@contratos = getContratos
  # contratos ||= APIGov.new(:contratos)
  # @contratos ||= contratos.getContratos

.container
  .row
    .col-md-12
      .panel
        .panel-body
          .col-md-6
            %h2
              = image_tag("flat-icons/business/svg/documentation", size: "100x60") 
              Contratos
          .col-md-6.pull-right
            %input#search-contrato.form-control(placeholder="... Pesquise nos contratos ..." style="margin-top: 40px")
  .row
    .col-md-12.col-sm-12
      .panel
        .panel-body 
        
          - anos = @contratos.select(:ano).distinct.order("ano ASC")
          %ul.nav.nav-tabs#lista-contratos  
            - anos.each do | ano |
              %li
                %a{ :href => "#c-#{ano.ano}", :data => { :toggle => "tab"} }
                  = ano.ano
        
          = render "pages/contratos/lista_contratos", lista: anos

      

:javascript
  $(document).ready(function(){
  
    //labelFormatter: 
    //  function() {
    //            return '<div style="text-align: left; width:130px;float:left;">' + this.name + '</div><div style="width:40px; float:left;text-align:right;">' + this.y + '%</div>';
    //      } 
  
  
    // open tab
    $('#lista-contratos > :last-child').addClass("active");
    id = $('#lista-contratos > :last-child').find("a").attr("href")
    $(id).addClass("active in");
    
    var $rows = $("tr");
    $("#search-contrato").keyup(function() {
      var val = $.trim(this.value);
      if (val === "")
        $rows.show();
      else {
        $rows.hide();
        $rows.has("td:contains(" + val + ")").show();
      }
    })
    
    
  });