-# = render 'shared/image_slide'
        
.container
  %h2
    %center
      SEÇÃO CENTRAL
  
  .row
    .col-sm-6.col-md-3
      .thumbnail
        %br
        %blockquote
          %p TITULO
          %footer
            %br
            %cite DESCRIPTION
    .col-sm-6.col-md-3
      .thumbnail
        %br
        %blockquote
          %p TITULO
          %footer
            %br
            %cite DESCRIPTION
    .col-sm-6.col-md-3
      .thumbnail
        %br
        %blockquote
          %p TITULO
          %footer
            %br
            %cite DESCRIPTION
    .col-sm-6.col-md-3
      .thumbnail
        %br
        %blockquote
          %p TITULO
          %footer
            %br
            %cite DESCRIPTION

    .col-md-8
      = render 'shared/tables/diarias_servidor'
      -# = render 'shared/slide_motivos'
      
    .col-md-4
      = render 'shared/boxmap'
      = render 'shared/tables/diarias_unidade'
  
  .row
    .col-md-4.text-justify
      %h2 Titulo
      %p texto texto texto texto texto texto texto texto texto texto texto texto texto texto
      %p
        %a.btn.btn-default{ :href=>"#"}
          link para »
          
    .col-md-4.text-justify
      %h2 Titulo
      %p texto texto texto texto texto texto texto texto texto texto texto texto texto texto
      %p
        %a.btn.btn-default{ :href=>"#"}
          link para »
          
    .col-md-4.text-justify
      %h2 Titulo
      %p texto texto texto texto texto texto texto texto texto texto texto texto texto texto
      %p
        %a.btn.btn-default{ :href=>"#"}
          link para »
          

