.container
  .row
    .col-md-12
      %h2 Servidores
      %hr
  .row
    .col-md-6.col-sm-3
      - @servidores.each do |s|
        %a{ :href => root_url + "servidor/" + s.id.to_s} 
          = s.nome 
          %br
