.container
  .span9
    %h1.page-title
      %i.icon-home
      Sobre o Meu IFNMG.com         
    .row
      .span5
        .widget
          .widget-header
            %i.icon-search
            %h3 Sobre o Site
          .widget-content
            O Meu IFNMG é um site sem fins lucrativos, desenvolvido por pesquisadores da área de Ciências da Computação, 
            que decidiram utilizar os seus conhecimentos para aumentar a transparência e levar à comunidade informações
            importantes sobre as atividades dos gestores e servidores da nossa instituição
            O site é totalmente automatizando, coletando as informações de bases de dados governamentais, processando as mesmas e republicando
            em um formato mais acessível à população.
            %br
            %br
            O site tem como público alvo a comunidade acadêmica, servidores e a população em geral que queira mais informações sobre as ações
            executadas pelo IFNMG.
            %br
            %br
            O site está em constante desenvolvimento. Contatos sobre mais informações, dúvidas, reclamações, críticas, sugestões, ou
            solicitação de dados, podem ser enviadas pelo link 
            %a{:href => root_url + "modalContacts", :data => {:toggle => "modal", :target => "#modalContacts" } }
              %b
                Fale Conosco
  
  
      .span4
        .widget
          .widget-header
            %i.icon-search
            %h3 Os Dados
          .widget-content
            Todos os dados aqui apresentados são <b>dados abertos</b>, disponibilizados pelo Governo Federal.
            %br
            %br
            Trnasparencia.gov.br
            %br
  
      
    .row
      .span5
        .widget
          .widget-header
            %i.icon-search
            %h3 Quem Somos
            .widget-content
              %p
                %b Equipe
                %br
                
            
            
      
