.col-md-4.text-justify
  .panel
    .panel-body
      %h2 
        = icon("expand") 
        Unidades
      %p texto texto texto texto texto texto texto texto texto texto texto texto texto texto
      %p
        %a.btn.btn-default{ :href=>"#"}
          link para »
        
.col-md-4.text-justify
  .panel
    .panel-body
      %h2
        = icon("expand") 
        Servidores
      %p texto texto texto texto texto texto texto texto texto texto texto texto texto texto
      %p
        %a.btn.btn-default{ :href=>"#"}
          link para »
      
.col-md-4.text-justify
  .panel
    .panel-body
      %h2
        = icon("expand") 
        Diarias
      %p 
        Você sabe o que são Diárias? 
        clique aqui e descubra o que elas são, quanto custam e para que servem...
      %p
        %a.btn.btn-default{ :href=>"/diarias"}
          Saiba mais »