// containers for info and alert
.note-alert {
    background: #fff9d8 url("../images/tab_note.gif") no-repeat left top;
    border: none;
    padding: 1em 1em 0.25em 48px;
    margin: 0.25em 0 1.5em 0;
}
.note-code {
    background: #EEE url(../images/tab_grey.gif) no-repeat left top;
    padding: 0.25em 1em 0.5em 48px;
}
.note-error {
    background: #f9d9d8 url(../images/tab_red.gif) no-repeat left top;
    border: none;
    padding: 1.25em 1.25em 0.25em 48px;
    margin-left: 0;
    margin-top: 0.25em;
}
.note-info {
    background: #d5e9f6 url(../images/tab_info.gif) no-repeat left top;
    border: none;
    padding: 1em 1em 0.25em 48px;
    margin: 0.25em 0 1.5em 0;
}
// end containers info
