.small-box {
	background-color: #cccccc;
	height: 100px;
	/*margin: 5px 5px 5px 5px;*/
	margin: 5px;
	padding: 0px 0px 0px 0px;
}

.box {
	background-color: #cccccc;
	height: 150px;
	width: 24%;
	margin: 5px;
	padding: 0px 0px 0px 0px;
	float: left;
}
.box > h2, .small-box > h2 {
	text-align: center;
	color: #ffffff;
	background-color: rgba(69, 186, 1, 1);
	padding: 5px;;
}

.box > h2 {
	margin-top: 75px;
}

.box > h2:hover, .small-box h2:hover {
	box-shadow: 0 0 5px #000
}

.small-box > h2 {
	margin-top: 80px;
}
.januaria {
	background-image: url('/images/tab_info.gif');
	background-repeat: no-repeat;
}
